In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
%matplotlib inline

In [3]:
df_salary = pd.read_csv("Salaries.csv",index_col=0)

In [4]:
df_salary.head()

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
Id,,,,,,,,,,,,
1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [5]:
df_salary.shape

(148648, 12)

In [11]:
df_salary.isna().any()

EmployeeName        False
JobTitle            False
BasePay              True
OvertimePay         False
OtherPay            False
Benefits             True
TotalPay            False
TotalPayBenefits    False
Year                False
Notes                True
Agency              False
Status               True
dtype: bool

In [12]:
df_year = df_salary.groupby('Year').sum()['TotalPayBenefits']

In [13]:
df_year.head()

Year
2011    2.594113e+09
2012    3.696790e+09
2013    3.814772e+09
2014    3.821866e+09
Name: TotalPayBenefits, dtype: float64

In [14]:
# Check the mean salary cost per year and see how it has increased per year
years = df_salary.groupby('Year').mean()['TotalPayBenefits']
print (years)

Year
2011     71743.819645
2012    100551.886807
2013    101440.519714
2014    100261.438668
Name: TotalPayBenefits, dtype: float64

In [15]:
diff = []
for i in range(0,3):
    i+=1
    d = years.values[i] - years.values[i-1]
    diff.append(d)
print ("Profit year difference:", diff , '\n')
print ('Total profit year difference from 2012 to 2014 is ', years.values.mean())

Profit year difference: [28808.06716185191, 888.6329073952074, -1179.0810457599146]

Total profit year difference from 2012 to 2014 is  93499.41620853971

In [16]:
#Which Job Title in Year 2014 has highest mean salary?

job2014 = df_salary[df_salary['Year']==2014]
jobtitle = job2014.groupby('JobTitle').mean()['TotalPayBenefits']
jobtitle_high_salary = jobtitle.sort_values(ascending=False).head(5)
print (jobtitle_high_salary)
print ("\n","The job title in year 2014 with the highest mean salary is",jobtitle_high_salary.index[0])

JobTitle
Chief Investment Officer       436224.36
Chief of Police                418019.22
Chief, Fire Department         417435.10
Gen Mgr, Public Trnsp Dept     379918.72
Dep Chf of Dept (Fire Dept)    368006.35
Name: TotalPayBenefits, dtype: float64

 The job title in year 2014 with the highest mean salary is Chief Investment Officer

In [17]:
year_2014 = df_salary[df_salary['Year']==2014]
saved = year_2014['OvertimePay'].sum()
print ("Money saved in 2014 without OvertimePay would be" , saved)

Money saved in 2014 without OvertimePay would be 205918599.26999998

In [19]:
employee_2014 = df_salary[df_salary['Year']==2014]
profile = employee_2014['JobTitle'].value_counts()
top_5 = profile.head(5)
print (top_5)

Transit Operator                2479
Special Nurse                   1478
Registered Nurse                1234
Public Svc Aide-Public Works     916
Firefighter                      815
Name: JobTitle, dtype: int64

In [21]:


job2014 = df_salary[df_salary['Year']==2014]
job_2014 = job2014.groupby('JobTitle').sum()['TotalPayBenefits']
print (job_2014.head(5))

JobTitle
ACPO,JuvP, Juv Prob (SFERS)       80266.37
ASR Senior Office Specialist    1925501.44
ASR-Office Assistant            1002259.44
Account Clerk                   5135754.45
Accountant I                     128356.66
Name: TotalPayBenefits, dtype: float64

In [22]:


sum = 0
for i in top_5.index:
    frame = job_2014[(job_2014.index)==i]
    sum = frame.values.sum() + sum
print ('Total Cost of Top 5 Jobs in Year 2014 is ', sum)

Total Cost of Top 5 Jobs in Year 2014 is  610269227.6600003

In [24]:
#Who was the top earning employee across all the years?

top_earning = df_salary.groupby('EmployeeName').sum()['TotalPayBenefits']
print (top_earning.sort_values(ascending=False))

#Kevin Lee earned the highest across all the years.

EmployeeName
Kevin Lee           1778487.17
Steven Lee          1706550.76
William Wong        1459954.17
Stanley Lee         1457279.68
Richard Lee         1268668.84
                       ...
Mark W Mcclure            0.00
Timothy E Gibson         -2.73
Mark E Laherty           -8.20
David P Kucia           -33.89
Joe Lopez              -618.13
Name: TotalPayBenefits, Length: 110809, dtype: float64